<?xml version="1.0" encoding="utf-8" ?>
<dotnetnuke version="3.0" type="Module">
	<folders>
		<folder>
			<name>Store</name>
			<friendlyname>Store Admin</friendlyname>
			<foldername>Store</foldername>
			<description>The Store Admin module provides the administration interface for the Store.</description>
			<version>02.01.32</version>
			<businesscontrollerclass>DotNetNuke.Modules.Store.Admin.StoreController,DotNetNuke.Modules.Store.Admin</businesscontrollerclass>
			<!--<compatibleversions>^[0-9]{1}[4-9]{1}\.[0-9]{1}[4-9]{1}\.[0-9]{1}[1-9]{1}$</compatibleversions>-->
			<resourcefile>resources.zip</resourcefile>
			<modules>
				<module>
					<friendlyname>Store Admin</friendlyname>
					<controls>
						<control>
							<src>Store.ascx</src>
							<type>View</type>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<file>
					<name>CategoryAdmin.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>CategoryAdmin.ascx.resx</name>
				</file>
				<file>
					<name>CustomerAdmin.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>CustomerAdmin.ascx.resx</name>
				</file>
				<file>
					<name>HelpAdmin.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>HelpAdmin.ascx.resx</name>
				</file>
				<file>
					<name>ProductAdmin.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>ProductAdmin.ascx.resx</name>
				</file>
				<file>
					<name>ReviewAdmin.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>ReviewAdmin.ascx.resx</name>
				</file>
				<file>
					<name>Store.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>Store.ascx.resx</name>
				</file>
				<file>
					<name>StoreAdmin.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>StoreAdmin.ascx.resx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>SharedResources.resx</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Admin.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Admin.SqlDataProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Cart.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Cart.AtosProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Cart.AuthorizeNetProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Cart.PayPalProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Cart.EmailProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Cart.SqlDataProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Catalog.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Catalog.SqlDataProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Components.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Customer.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Customer.SqlDataProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Providers.Address.DefaultAddressProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Providers.Address.DefaultAddressProvider.SqlDataProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Providers.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Providers.Shipping.DefaultShippingProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Providers.Shipping.DefaultShippingProvider.SqlDataProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Providers.Tax.DefaultTaxProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.Providers.Tax.DefaultTaxProvider.SqlDataProvider.dll</name>
				</file>
				<file>
					<name>DotNetNuke.Modules.Store.WebControls.dll</name>
				</file>
				<file>
					<name>01.00.00.sqldataprovider</name>
				</file>
				<file>				
					<name>01.00.01.sqldataprovider</name>
				</file>
				<file>
					<name>02.00.00.sqldataprovider</name>
				</file>	
				<file>
					<name>02.00.01.sqldataprovider</name>
				</file>	
				<file>
					<name>02.00.02.sqldataprovider</name>
				</file>	
				<file>
					<name>02.00.03.sqldataprovider</name>
				</file>
				<file>
					<name>02.00.05.sqldataprovider</name>
				</file>
				<file>
					<name>02.00.06.sqldataprovider</name>
				</file>
				<file>
					<name>02.00.07.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.00.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.05.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.09.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.10.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.19.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.23.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.27.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.29.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.30.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.31.sqldataprovider</name>
				</file>
				<file>
					<name>02.01.32.sqldataprovider</name>
				</file>
				<file>
					<name>Uninstall.sqldataprovider</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\AtosProvider</path>
					<name>AtosAdmin.ascx</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\AtosProvider\App_LocalResources</path>
					<name>AtosAdmin.ascx.resx</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\AtosProvider</path>
					<name>AtosPayment.ascx</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\AtosProvider\App_LocalResources</path>
					<name>AtosPayment.ascx.resx</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\PayPalProvider</path>
					<name>PayPalAdmin.ascx</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\PayPalProvider\App_LocalResources</path>
					<name>PayPalAdmin.ascx.resx</name>
				</file>				
				<file>
					<path>Providers\GatewayProviders\PayPalProvider</path>
					<name>PayPalPayment.ascx</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\PayPalProvider\App_LocalResources</path>
					<name>PayPalPayment.ascx.resx</name>
				</file>		
				<file>
					<path>Providers\GatewayProviders\EmailProvider</path>
					<name>EmailAdmin.ascx</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\EmailProvider\App_LocalResources</path>
					<name>EmailAdmin.ascx.resx</name>
				</file>				
				<file>
					<path>Providers\GatewayProviders\EmailProvider</path>
					<name>EmailPayment.ascx</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\EmailProvider\App_LocalResources</path>
					<name>EmailPayment.ascx.resx</name>
				</file>		
				<file>
					<path>Providers\GatewayProviders\AuthorizeNetProvider</path>
					<name>AuthorizeNetAdmin.ascx</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\AuthorizeNetProvider\App_LocalResources</path>
					<name>AuthorizeNetAdmin.ascx.resx</name>
				</file>				
				<file>
					<path>Providers\GatewayProviders\AuthorizeNetProvider</path>
					<name>AuthorizeNetPayment.ascx</name>
				</file>
				<file>
					<path>Providers\GatewayProviders\AuthorizeNetProvider\App_LocalResources</path>
					<name>AuthorizeNetPayment.ascx.resx</name>
				</file>		
				<file>
					<path>Providers\ShippingProviders\DefaultShippingProvider</path>
					<name>DefaultAddressAdmin.ascx</name>
				</file>
				<file>
					<path>Providers\ShippingProviders\DefaultShippingProvider\App_LocalResources</path>
					<name>DefaultAddressAdmin.ascx.resx</name>
				</file>
				<file>
					<path>Providers\AddressProviders\DefaultAddressProvider</path>
					<name>DefaultAddressCheckout.ascx</name>
				</file>
				<file>
					<path>Providers\AddressProviders\DefaultAddressProvider\App_LocalResources</path>
					<name>DefaultAddressCheckout.ascx.resx</name>
				</file>
				<file>
					<path>Providers\AddressProviders\DefaultAddressProvider</path>
					<name>DefaultAddressProfile.ascx</name>
				</file>
				<file>
					<path>Providers\AddressProviders\DefaultAddressProvider\App_LocalResources</path>
					<name>DefaultAddressProfile.ascx.resx</name>
				</file>
				<file>
					<path>Providers\AddressProviders\DefaultAddressProvider</path>
					<name>DefaultAddressProviderInfo.xml</name>
				</file>
				<file>
					<path>Providers\AddressProviders\DefaultAddressProvider</path>
					<name>StoreAddress.ascx</name>
				</file>	
				<file>
					<path>Providers\AddressProviders\DefaultAddressProvider\App_LocalResources</path>
					<name>StoreAddress.ascx.resx</name>
				</file>								
				<file>
					<path>Providers\ShippingProviders\DefaultShippingProvider</path>
					<name>DefaultShippingAdmin.ascx</name>
				</file>
				<file>
					<path>Providers\ShippingProviders\DefaultShippingProvider\App_LocalResources</path>
					<name>DefaultShippingAdmin.ascx.resx</name>
				</file>
				<file>
					<path>Providers\ShippingProviders\DefaultShippingProvider</path>
					<name>DefaultShippingCheckout.ascx</name>
				</file>
				<file>
					<path>Providers\ShippingProviders\DefaultShippingProvider\App_LocalResources</path>
					<name>DefaultShippingCheckout.ascx.resx</name>
				</file>
				<file>
					<path>Providers\ShippingProviders\DefaultShippingProvider</path>
					<name>DefaultShippingProviderInfo.xml</name>
				</file>
				<file>
					<path>Providers\TaxProviders\DefaultTaxProvider</path>
					<name>DefaultTaxAdmin.ascx</name>
				</file>
				<file>
					<path>Providers\TaxProviders\DefaultTaxProvider\App_LocalResources</path>
					<name>DefaultTaxAdmin.ascx.resx</name>
				</file>
				<file>
					<path>Providers\TaxProviders\DefaultTaxProvider</path>
					<name>DefaultTaxCheckout.ascx</name>
				</file>
				<file>
					<path>Providers\TaxProviders\DefaultTaxProvider\App_LocalResources</path>
					<name>DefaultTaxCheckout.ascx.resx</name>
				</file>
				<file>
					<path>Providers\TaxProviders\DefaultTaxProvider</path>
					<name>DefaultTaxProviderInfo.xml</name>
				</file>
				<file>
					<name>02.01.23.txt</name>
				</file>
				<file>
					<name>02.01.27.txt</name>
				</file>
				<file>
					<name>History.txt</name>
				</file>
			</files>
		</folder>
		<folder>
			<name>Store</name>
			<friendlyname>Store Account</friendlyname>
			<foldername>Store</foldername>
			<description>The Store Account module provides customer account, cart and checkout functionality.</description>
			<version>02.01.32</version>
			<modules>
				<module>
					<friendlyname>Store Account</friendlyname>
					<controls>
						<control>
							<src>Account.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>Checkout</key>
							<title>Checkout</title>
							<src>Checkout.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>Settings</key>
							<title>Account Settings</title>
							<src>AccountSettings.ascx</src>
							<type>Edit</type>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<file>
					<name>Account.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>Account.ascx.resx</name>
				</file>
				<file>
					<name>AccountSettings.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>AccountSettings.ascx.resx</name>
				</file>
				<file>
					<name>CartDetail.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>CartDetail.ascx.resx</name>
				</file>
				<file>
					<name>Checkout.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>Checkout.ascx.resx</name>
				</file>
				<file>
					<name>CustomerCart.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>CustomerCart.ascx.resx</name>
				</file>
				<file>
					<name>CustomerOrders.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>CustomerOrders.ascx.resx</name>
				</file>
				<file>
					<name>CustomerProfile.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>CustomerProfile.ascx.resx</name>
				</file>
			</files>
		</folder>
		<folder>
			<name>Store</name>
			<friendlyname>Store Catalog</friendlyname>
			<foldername>Store</foldername>
			<description>The Store Catalog module provides product lists and product detail functionality.</description>
			<version>02.01.32</version>
			<businesscontrollerclass>DotNetNuke.Modules.Store.Catalog.ProductController,DotNetNuke.Modules.Store.Catalog</businesscontrollerclass>
			<modules>
				<module>
					<friendlyname>Store Catalog</friendlyname>
					<controls>
						<control>
							<src>Catalog.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>Edit</key>
							<title>Product Details</title>
							<src>CatalogEdit.ascx</src>
							<type>Edit</type>
						</control>
						<control>
							<key>Settings</key>
							<title>Catalog Settings</title>
							<src>CatalogSettings.ascx</src>
							<type>Edit</type>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<file>
					<name>Catalog.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>Catalog.ascx.resx</name>
				</file>
				<file>
					<name>CatalogEdit.ascx</name>
				</file>
				<file>
					<name>CatalogSettings.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>CatalogSettings.ascx.resx</name>
				</file>
				<file>
					<name>ProductDetail.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>ProductDetail.ascx.resx</name>
				</file>
				<file>
					<name>ProductEdit.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>ProductEdit.ascx.resx</name>
				</file>
				<file>
					<name>ProductList.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>ProductList.ascx.resx</name>
				</file>
				<file>
					<name>ReviewEdit.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>ReviewEdit.ascx.resx</name>
				</file>
				<file>
					<name>ReviewList.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>ReviewList.ascx.resx</name>
				</file>
				<file>
					<name>Thumbnail.aspx</name>
				</file>
				<file>
					<path>Templates</path>
					<name>Catalog.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>CategoryContainer.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>FeaturedProduct.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>FeaturedProduct_Small.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>ListContainer.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>NewProduct.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>NewProduct_Small.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>PopularProduct.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>PopularProduct_Small.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>ProductDetail.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>ProductDetailFullInfo.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>ProductList.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>ProductListFullInfo.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>SearchResultsList.htm</name>
				</file>
				<file>
					<path>Templates</path>
					<name>Template.css</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>AddToCart_blue_2_en-US.jpg</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>AddToCart_blue_en-US.jpg</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>AddToCart_gray_en-US.jpg</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>AddToCart_orange_en-US.jpg</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>addtocartimg_en-US.gif</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>Buttons.psd</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>BuyNow_blue_en-US.jpg</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>BuyNow_gray_en-US.jpg</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>BuyNow_orange_en-US.jpg</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>gel_background.gif</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>gel_background_gray.gif</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>gel_left.gif</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>gel_right.gif</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>linkdetailimg_en-US.gif</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>Basket.gif</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>purchaseimg_en-US.gif</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>spacer.gif</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>arrow_up.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>arrow_down.png</name>
				</file>
				<file>
					<path>Templates\StyleSheet</path>
					<name>Common.css</name>
				</file>
				<file>
					<path>Templates\StyleSheet</path>
					<name>SkinObjects.css</name>
				</file>
				<file>
					<path>Templates\StyleSheet</path>
					<name>StoreAccount.css</name>
				</file>
				<file>
					<path>Templates\StyleSheet</path>
					<name>StoreFront.css</name>
				</file>
			</files>
		</folder>
		<folder>
			<name>Store</name>
			<friendlyname>Store Mini Cart</friendlyname>
			<foldername>Store</foldername>
			<description>The Store Mini-Cart module provides the small summary of the customer's cart items.</description>
			<version>02.01.32</version>
			<businesscontrollerclass>DotNetNuke.Modules.Store.Cart.CartController,DotNetNuke.Modules.Store.Cart</businesscontrollerclass>
			<modules>
				<module>
					<friendlyname>Store Mini Cart</friendlyname>
					<controls>
						<control>
							<src>MiniCart.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>Settings</key>
							<title>Mini Cart Settings</title>
							<src>MiniCartSettings.ascx</src>
							<type>Edit</type>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<file>
					<name>MiniCart.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>MiniCart.ascx.resx</name>
				</file>
				<file>
					<name>MiniCartSettings.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>MiniCartSettings.ascx.resx</name>
				</file>
			</files>
		</folder>
		<folder>
			<name>Store</name>
			<friendlyname>Store Menu</friendlyname>
			<foldername>Store</foldername>
			<description>The Store Menu module provides the menu containing product categories.</description>
			<version>02.01.32</version>
			<businesscontrollerclass>DotNetNuke.Modules.Store.Catalog.CategoryController,DotNetNuke.Modules.Store.Catalog</businesscontrollerclass>
			<modules>
				<module>
					<friendlyname>Store Menu</friendlyname>
					<controls>
						<control>
							<src>CategoryMenu.ascx</src>
							<type>View</type>
						</control>
						<control>
							<key>Edit</key>
							<title>Modify Category</title>
							<src>CatalogEdit.ascx</src>
							<type>Edit</type>
						</control>
						<control>
							<key>Settings</key>
							<title>Category Menu Settings</title>
							<src>CategorySettings.ascx</src>
							<type>Edit</type>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<file>
					<name>CategoryEdit.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>CategoryEdit.ascx.resx</name>
				</file>
				<file>
					<name>CategoryMenu.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>CategoryMenu.ascx.resx</name>
				</file>
				<file>
					<name>CategorySettings.ascx</name>
				</file>
				<file>
					<path>App_LocalResources</path>
					<name>CategorySettings.ascx.resx</name>
				</file>
			</files>
		</folder>
	</folders>
</dotnetnuke>
