<?xml version="1.0" encoding="utf-8" ?>
<dotnetnuke version="2.0" type="SkinObject">
	<folders>
		<folder>
			<name>Store</name>
			<description>DotNetNuke Store Skin Objects.</description>
			<version>02.01.32</version>
			<modules>
				<module>
					<friendlyname>Store Links Skin Object</friendlyname>
					<controls>
						<control>
							<key>STORELINKS</key>
							<title>Store - Link to cart/store page</title>
							<src>SkinObjects\Links.ascx</src>
							<type>SkinObject</type>
						</control>
					</controls>
				</module>
				<module>
					<friendlyname>Store Micro Cart Skin Object</friendlyname>
					<controls>
						<control>
							<key>STOREMICROCART</key>
							<title>Store - Micro cart</title>
							<src>SkinObjects\MicroCart.ascx</src>
							<type>SkinObject</type>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<file>
					<name>DotNetNuke.Modules.Store.SkinObjects.dll</name>
				</file>
				<file>
					<path>SkinObjects</path>
					<name>Links.ascx</name>
				</file>
				<file>
					<path>SkinObjects\App_LocalResources</path>
					<name>Links.ascx.resx</name>
				</file>
				<file>
					<path>SkinObjects</path>
					<name>MicroCart.ascx</name>
				</file>
				<file>
					<path>SkinObjects\App_LocalResources</path>
					<name>MicroCart.ascx.resx</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>basket.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>basket_add.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>basket_delete.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>basket_edit.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>basket_error.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>basket_go.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>basket_put.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>basket_remove.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>cart.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>cart_add.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>cart_delete.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>cart_edit.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>cart_error.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>cart_go.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>cart_put.png</name>
				</file>
				<file>
					<path>Templates\Images</path>
					<name>cart_remove.png</name>
				</file>
			</files>
		</folder>
	</folders>
</dotnetnuke>
